# Conditional formatting

In [2]:
# if statement
num = 5

if num > 0:
    print("The number is positive")

The number is positive

In [4]:
age = int(input("24"))

if age >=18:
    print("You are eligible to vote")

else:
    print("You are not eligible")

Enter your age 23

You are eligible to vote

Q3 : if -elif- else

In [9]:
score = int(input("Enter your score"))

if score > 90 : 
    print("Grade A")
elif score > 80 :
    print("Grade B")
elif score > 60 :
    print("Grade C")
else :
    print("Fail!")

Enter your score 88

Grade B

# Nested if else

In [26]:
number = int(input("please enter a number"))

if number > 0:
    if number % 2 ==0:
        print("Positive and Even Number")
    else:
        print("Positive and Odd Number")
elif num < 0 :
    if number % 2 == 0 :
        print("Negative and Even Number")
    else:
        print("Negative and Odd Number")

please enter a number 55

Positive and Odd Number

In [28]:
color = input("Please enter your fav color")

print(f"Your favourite color is {color}")

Please enter your fav color Yellow

Your favourite color is Yellow

# Loops in python

In [31]:
# while loop

In [43]:
count = 0
while count < 5 : 
    print("Count is ", count)
    count = count + 1
    # count += 1

Count is  0
Count is  1
Count is  2
Count is  3
Count is  4

In [45]:
# for loop

In [47]:
name = "pranali"

for char in name :
    print(char)

p
r
a
n
a
l
i

# condition on loop

In [50]:
# 1. break statement

In [52]:
for i in range(0,10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [54]:
for i in range(0,10) :
    if i ==5:
        break
    print(i)

0
1
2
3
4

In [56]:
for i in range(0,10) :
    if i >5:
        break
    print(i)

0
1
2
3
4
5

In [68]:
# continue

In [82]:
for i in range(0,10) :
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [84]:
# pass

In [86]:
for i in range(2,10):
    pass

Q.1: Reverse a string

In [95]:
str1 = "Python is awesome"

reverse_str1 = ""

for char in str1:
    reverse_str1 = char + reverse_str1
print(reverse_str1)

emosewa si nohtyP

# Function

In [98]:
def square(num):
    result = num **2
    return result

In [100]:
# call function
square(5)

25

In [102]:
#call function
square(10)

100

In [106]:
def cube(num):
    result = num ** 3
    return result

In [108]:
# call function
cube(5)

125

In [110]:
def greet(name):
    print(f"Hello {name}")

In [112]:
greet("pranali")

Hello pranali

In [114]:
# default arugument function

In [124]:
def greet(name="Bob"):
 print(f"Hello {name}")

In [128]:
# call function
greet()

Hello Bob

In [132]:
# call function
greet('charlie')

Hello charlie

In [144]:
def add(x, y = 1):
    sum = x + y 
print(sum)

<built-in function sum>

In [146]:
# Variable Length function

In [156]:
# *args
def sub(*args):
    result = 0 
    for num in args:
        result = result - num
    return result

In [158]:
sub(1,2,3)

-6

In [160]:
# Recursive function

In [164]:
def factorial(num):
    if num == 0 or num == 1 :
        return 1 
    else:
        return num * factorial(num -1)

In [166]:
factorial(5)

120

In [168]:
factorial(8)

40320

# Variable scope

In [171]:
num = 10
def a_function():
    x = 9
    print(x) # local 
    print(num) # global

In [173]:
print(num)

10

In [175]:
print(x)

NameError: name 'x' is not defined

In [177]:
a_function()

9
10

 # Q.1

In [184]:
def calculate_total_price(price, quantity):
     total = price * quantity
     return total

In [186]:
item_price = 100
item_quantity = 9

print("Total price is ", calculate_total_price(item_price, item_quantity))

Total price is  900

In [188]:
item_price = 500
item_quantity = 7

print("Total price is ", calculate_total_price(item_price, item_quantity))

Total price is  3500

# Nested Function

# Lambda Function

In [213]:
sum_output = lambda x, y : x + y

In [217]:
x = 9
y = 78
print(sum_output(x,y))

87

In [219]:
# Lambda function square of number
sqr_num = lambda x : x **2

In [221]:
x = 8
print(sqr_num(x))

64

In [223]:
x = 7
print(sqr_num(x))

49

# Exceptional Handling

# try block, except block , optional ( finally)

In [229]:
def divide(num1, num2):
    try:
        result = num1/num2
        return result
    except:
        print("Error: wrong number for division")
    finally:
        print("The function is to divide 2 number")

In [231]:
divide(4,5)

The function is to divide 2 number

0.8

In [233]:
divide(5,0)

Error: wrong number for division
The function is to divide 2 number

In [235]:
def get_user_input():
    try:
        user_input = int(input("Enter a number"))
        print(f"User has entered a {user_input}")
    except:
        print("Error: Invalid Input : Please enter a number only")
    finally:
        print("Code is completed")

In [237]:
get_user_input()

Enter a number pranali

Error: Invalid Input : Please enter a number only
Code is completed

In [239]:
get_user_input()

Enter a number 56

User has entered a 56
Code is completed